h1,h2,h3,h4,h5,h6,body{
    font-family:Verdana;
}
h2{
    border-bottom:4px dotted #D06;
    padding-bottom:5px;
    width:90%;
}
#main{
    width:800px;
    margin:0px auto;
}
pre{
    background-color: #eee;
    box-shadow:0px 0px 10px rgba(0,0,0,.5);
    padding:10px 10px 10px 20px;
    margin-bottom:25px;
}
section{
    width:750px;
    background-color:#def;
    padding:0px 20px;
    border:1px solid #aaa;
    margin: 15px;
    box-shadow:-15px 0px 0px rgba(0,0,0,.6);
}
p{
    font-size:18px;
    font-family:Verdana;
    line-height:25px;
}
#controls
{
    font-size:16px;
    font-weight:bold;
    width:805px;
    padding: 10px 0px;
}