<div class="footer">
	<table align="center" style="padding-top: 20px;">
			<!--
	    <tr>
	        <td align="center">
	            <span>Do you find this sample useful? Tell your friends!</span><br />
	            <div class="addthis_toolbox addthis_default_style" style="margin-right: auto; margin-left: auto;
	                width: 210px;">
	                <a class="addthis_button_email"></a><a class="addthis_button_tweet" tw:url="http://www.docusign.com/developers-center/"
	                    tw:text="I just tried out the DocuSign API!" tw:via="DocuSignAPI" tw:count="none"
	                    tw:related="DocuSign:DocuSign, Inc"></a><a class="addthis_button_delicious">
	                </a><a class="addthis_button_stumbleupon"></a><a class="addthis_button_facebook_like"
	                    fb:href="http://www.docusign.com/devcenter/"></a>
	            </div>
	        </td>
	    </tr>
	    -->
            
            <!--
	    <tr>
	        <td align="center">
	            <span>Keep up with new developments:</span><br />
	            <a class="addthis_email" href="http://www.docusign.com/blog/category/devcenter">
	                <img src="images/blog.png" width="16" height="16" border="0" alt="Blog" /></a>
	            <a class="addthis_email" href="http://www.youtube.com/user/ESIGNwithDocuSign">
	                <img src="images/icon-youtube.png" width="16" height="16" border="0" alt="Youtube" /></a>
	            <a class="addthis_email" href="http://www.docusign.com/blog/feed/">
	                <img src="images/icon-rss.png" width="16" height="16" border="0" alt="RSS" /></a>
	            <a class="addthis_email" href="http://www.facebook.com/pages/DocuSign/71115427991">
	                <img src="images/icon-facebook.png" width="16" height="16" border="0" alt="Facebook" /></a>
	            <a class="addthis_email" href="http://www.twitter.com/DocuSignAPI">
	                <img src="images/icon-twitter.png" width="16" height="16" border="0" alt="Twitter" /></a>
	            <a class="addthis_email" href="http://www.linkedin.com/company/19022?trk=saber_s000001e_1000">
	                <img src="images/icon-linkedin.png" width="16" height="16" border="0" alt="LinkedIn" /></a>
	        </td>
	    </tr>
            -->
	</table>
</div>